<div class="container ">

<div class="text-center content"  >
    <h1>
        Welcome to the TestEdge - Your Ultimate Destination for Exam Practice!
    </h1>
    <h1 >
       <b> Prepare. Practice. Succeed.</b>
    </h1>
    
    <p>At ExamPortal, we understand that every student's journey is unique.
         That's why we offer a platform designed to empower you to take charge of your learning experience. 
         Our mission is simple: to provide a wide range of practice tests across diverse categories, 
         allowing you to prepare for your exams with confidence and excel in your chosen field.</p>
    
         <h1>
            Start Your Exam Journey Today: Your Success Awaits!
         </h1>
    
         <button mat-stroked-button color="warn" (click)="openLoginForm()" >Start Practicing Now</button>
</div>
</div>