.description
{
    height: auto;
  max-height: none;
  overflow: visible;
}
.example-card {
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
  }
img{
    opacity: 0.6;
    width: 150px;;
    margin-left: 75px;;
    padding: 10px;;
}

