<div class="bootstrap-wrapper" >
    <div class="container mt-2">
        <div class="d-flex justify-content-between">
            <div >
                <h1>Edit category</h1>
            </div>
            <div>
                <button mat-mini-fab color="war" type="button" (click)="close()"><mat-icon>close</mat-icon></button>
    
            </div>
        </div>
        <mat-divider style="background-color: rgb(100, 17, 255);"></mat-divider>
        <div class="container mt-5" style="width: 70%;">
            <div>
                <p class="opacity-50">You can edit category and  description about the category
                </p>
            </div>
            <div>
                
                <form [formGroup]="editCategoryForm" (ngSubmit)="editCategory()" mat-dialog-content>
                    <mat-form-field appearance="outline"  >
                        <mat-label>Category ID</mat-label>
                        <input matInput placeholder="ID" formControlName="id" readonly="true" >
                        <mat-error *ngIf="editCategoryForm.get('id')?.hasError('required')">Category Id required!</mat-error>
                        <mat-error *ngIf="editCategoryForm.get('id')?.hasError('minlength')">minimun 10 digits required!</mat-error>
                        <mat-error *ngIf="editCategoryForm.get('id')?.hasError('maxlength')">Max 10 digits allowed!</mat-error>

                
                    </mat-form-field>
                    <mat-form-field appearance="outline"  >
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="title" formControlName="title" >
                        <mat-error *ngIf="editCategoryForm.get('title')?.hasError('required')">Title required!</mat-error>

                
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" class="about-section" >
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="description" formControlName="description" ></textarea>
                        <mat-error *ngIf="editCategoryForm.get('description')?.hasError('required')">Description required!</mat-error>

                
                    </mat-form-field>
                    
                    <button mat-raised-button color="primary" type="submit" [disabled]="editCategoryForm.invalid" style="margin-right: 10px;">Save Changes</button>

                    </form>


            </div>
        </div>
    </div>
</div>
