<div class="cotainer " >
    <mat-card class="p-4 text-center " >
        <mat-card-header>        <h1 class="opacity-75">Are You Sure? This will be deleted permanently!</h1>
        </mat-card-header>
        <mat-card-actions>
            <div>
                <span style="margin-right: 10px;;">
                    <button mat-button color="warn" (click)="delete()" ><mat-icon>delete</mat-icon>Delete</button>
                    
            
                </span>
                <span>
                    <button mat-button color="primary" (click)="close()" >Close<mat-icon>close</mat-icon></button>
                </span>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
